---
import NavContainer from './NavContainer';

const navItems = [
	{
		title: 'Solutions',
		icon_url: 'icons/lightbulb_icon.svg',
		href_url: '/solutions',
	},
	{
		title: 'Home',
		icon_url: 'icons/home_icon.svg',
		href_url: '/',
	},
	{
		title: 'Contact',
		icon_url: 'icons/user_icon.svg',
		href_url: '/contact',
	},
];
---

<nav class="fixed bottom-10 h-[64px] w-screen">
	<NavContainer client:load navItems={navItems} />
</nav>
