---
import NavContainer from './NavContainer';

const navItems = [
	{
		title: 'Portfolio',
		icon_url: 'icons/open_book.svg',
		href_url: '/portfolio',
	},
	{
		title: 'Home',
		icon_url: 'spap-icons/icons/PNG/black_icon.png',
		href_url: '/',
	},
	{
		title: 'Contact',
		icon_url: 'icons/user_icon.svg',
		href_url: '/contact',
	},
];
---

<nav class="fixed bottom-10 h-[64px] w-screen">
	<NavContainer client:load navItems={navItems} />
</nav>
